@import "../../media/mixin/font_size.sass";
@import "../../media/keyframes/show_menu.sass";



.main_menu
    font-family: Arial
    display: grid
    grid-template-columns: 1fr
    grid-row-gap: 15px
    height: min-content
    .main_menu_title
        font-size: 14px
        font-weight: bold
        text-decoration: none
        color: #333333
        text-transform: uppercase
        &:hover
            color: #ff00009e
    .main_menu_block
        padding: 0
        margin: 0
        display: none
        overflow: hidden
        position: relative
        width: 90%
        .main_menu_block_item
            list-style-type: none
            .main_menu_block_item_link
                text-decoration: none
                color: #333333
                font-size: 14px
                font-weight: normal
                grid-template-columns: 10px auto
                grid-column-gap: 10px
                align-items: center
                grid-column-gap: 10px
                display: grid
                &:hover
                    color: #ff00009e
                &:before
                    content: "\2B24"
                    font-size: 7px
                    &:hover
                        color: #ff00009e
.show_menu
    display: grid !important

.hide_menu
    display: none !important

.acctive_menu_item
    color: #ff00009e

.main_menu_block_active
    display: grid !important
    animation-duration: 1s
    animation-name: show_menu
    animation-timing-function: linear

.wrapper_div
    height: 100%
    overflow: hidden
    display: grid
    grid-row-gap: 15px
    .wrapper_div_link_href
        display: grid
        align-items: center
        grid-template-columns: 9fr 1fr
        .wrapper_div_link_href_plus
            font-size: 20px
            text-align: center
            -webkit-user-select: none
            -khtml-user-select: none
            -moz-user-select: none
            -ms-user-select: none
            user-select: none
            &:hover
                cursor: default
                color: red
        .wrapper_div_link_href_plus_color
            color: red
                
