.common_title
    color: #dc5858
    font-size: 20px
    text-align: center
.common_text
    font-size: 12px
    text-align: justify
    line-height: 20px
    text-indent: 1.25cm
.bold_text
    font-weight: bold
.list_style
    list-style: none