@import "../../media/mixin/font_size.sass";

.main_menu
    font-family: Arial
    display: grid
    grid-template-columns: 1fr 1fr
    .main_menu_title
        @include fluidFontSize(10px, 14px, 480px, 1256px, 12px)
        font-weight: bold
        text-decoration: none
        color: #333333
        text-transform: uppercase
        &:hover
            color: #ff00009e
    .main_menu_block
        padding: 0
        .main_menu_block_item
            list-style-type: none
            .main_menu_block_item_link
                text-decoration: none
                color: #333333
                font-size: 14px
                font-weight: normal
                display: grid
                grid-template-columns: 10px auto
                grid-column-gap: 10px
                align-items: center
                &:hover
                    color: #ff00009e
                &:before
                    content: "\2B24"
                    font-size: 7px
                    &:hover
                        color: #ff00009e
.show_menu
    display: block !important

.hide_menu
    display: none !important

.acctive_menu_item
    color: #ff00009e