.App
{
    margin: 10px;
    border: 1px solid;
    padding: 20px;
}

.hide_block
{
    display: none !important;
}

.app_content
{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 50px;
    padding-top: 30px;
    border-top: 1px solid #dcdcdc;
    grid-column-gap: 20px;
}